
// -----共通スタイル--------------------
// A P-OTF A1Gothic StdN
.Title{
    font-size: 5rem;
    line-height: 7.5rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}


// -----共通スタイル--------------------end---




