.Header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F1EFE9;
    width: 100%;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 6rem;

        &__logo{
            width: 30rem;
            img{
                width: 100%;
            }
        }
        &__btn{
            display: flex;
            align-items: center;
            .Tel{
                font-size: 4rem;
                color: black;
                text-decoration: none;
                font-weight: bold;
                position: relative;
                margin-right: 4rem;
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -6rem;
                    padding-left: 2rem;
                    transform: translateY(-50%);
                    width: 2.5rem;
                    height: 2.5rem;
                    // background-color: red;
                    background: url(../images/tel_icon.png) no-repeat center/contain;
                }
            }
            .Btn__01{
          
                a{
                    width: 30rem;
                    height: 6rem;
                    span{
                        line-height: 6rem;
                    }
                }
            }
        }
    }

}