.Plan{
    padding-top: 9rem;
    padding-bottom: 20rem;
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        // top: 50%;
        // left: 10px;
        transform: translateX(-50%);
        // width: 25px;
        // height: 25px;
        // background-color: red;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 20rem;
        background: url(../images/gray_tri.png) no-repeat center bottom/contain;
    }
    &__container{
        padding-bottom: 12rem;
        max-width: 111.5rem;
        width: 100%;
        margin: 0 auto;
        .Title{
            margin-bottom: 5rem;
        }
        &__wrap{
            margin-bottom: 15rem;
            .Item{
                margin-bottom: 5rem;
                display: flex;
                background-color: #F1EFE9;
                border-radius: 6rem;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    // top: 50%;
                    // left: 10px;
                    // transform: translateY(-50%);
                    right: 13rem;
                    top: 2rem;
                
                    width: 20rem;
                    height: 20rem;
                    // background-color: red;
                    background: url(../images/olan_acc.png) no-repeat center/contain;
                }
                &__img{
                    width: 28%;
                    img{
                        width: 100%;
                    }


                }
                &__text{
                    width: 72%;
                    padding: 7rem 0 0 4rem;
                    box-sizing: border-box;
                    &__title{
                        margin-bottom: 2rem;
                        span{
                            font-size: 6.9rem;
                            font-weight: bold;
                            @include HelveticaNeue;
                            padding-right: 1rem;

                        }
                        font-size: 2.8rem;
                        font-weight: bold;
                        
                    }
                    &__list{
                        &__item{
                            font-weight: 500;
                            font-size: 2.5rem;
                            list-style-type: none;
                            line-height: 4.1rem;

                        }
                    }
                }
            }
        }

        .Title__blue{
            margin-bottom: 12rem;
        }
    }
}